@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';

.head {
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0; left: 0; right: 0;
}
    
ul {
    list-style-type: none;
}

.nav {
    background-color: $dark-gray-color;
    height: 8vh;
    
    display: flex;
    
}

.ulNav {
    background-color: $dark-gray-color;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

li{
    text-decoration: none;
}

.liLogo {
    margin-right: auto;
    height: 6vh;
    width: 10vh;
    border: $border-blue;
    border-radius:  $border-radius-50;
    overflow: hidden;
}

.logo {
    height: 100%;
    width: 100%;
}

.liNav {
    margin-right: 3%;
}
.homeIcone {
    @include icon-button;
}

.loginIcone {
    @include icon-button;
}

.contactIcone {
    @include icon-button; 
}