@import '../../sass/abstracts/typographie';

*{
    margin: 0;
    padding: 0;
    border: 0;

    font-family: 'roboto';
}

h1 {
    font-family: 'komika';
}

h2 {
    font-family: 'komika';
}

button:hover {
    color: white;
    background-color: $blue-color;
}

a:hover {
    color: white;
    background-color: $blue-color;
}

