@font-face {
    font-family: "komika";
    src: url(../../assets/fonts/komika_axis/KOMIKAX.ttf) format("truetype");
}

@font-face {
    font-family: "roboto";
    src: url(../../assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "roboto bold";
    src: url(../../assets/fonts/Roboto/Roboto-Bold.ttf) format("truetype");
}