@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';
@import '../../sass/base/reset';

.mainContacts {
    font-size: 1rem;
    margin-top: 8vh;
    margin-bottom: 8vh;
    text-align: center;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light-gray-color;
    height: 100vh;
}

.contactTitle {
    display: inline-block;
    width: 75%;
    padding: 3%;
    border: solid $blue-color 3px;
    border-radius:  $border-radius-50;
    background-color: white;

}

.contactBloc {
    margin-top: 3%;
    width: 80%;
    @include texbox-dark-big
}

.contactMail {
    margin-top: 3%;
    width: 80%;
    display: inline-block;
    padding: 5%;
    border: solid $blue-color 3px;
    border-radius:  $border-radius-50 ;
    background-color: white;
}

.contactAdress {
    margin-top: 3%;
    margin-bottom: 3%;
    display: inline-block;
    width: 80%;
    padding: 2%;
    border: solid $blue-color 3px;
    border-radius:  $border-radius-25 ;
    background-color: white;
}