@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';
@import '../../sass/base/reset';
main {
    margin-top: 8vh;
    margin-bottom: 8vh;
    background-color: $light-gray-color;
}

.container {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.bannerBloc{
    position: relative;
    height: 30vh;
    width: 100%;
}
.bannerImg {
    width: 100%;
    height: 100%;   
}
.bannerTitle {
    font-size: 1.5rem;
    display: inline-block;
    position: absolute;
    margin-left: 60%;
    margin-right: 5%;
    margin-top: 5%;
}

.mangaBloc {
    margin-top: 2%;
    padding: 2%;
    margin: 1%;
    @include texbox-dark-big;
}

.imgBloc1 {
    height: 50vh;
    width: 40vh;
    border: solid $blue-color 3px;
    border-radius:  $border-radius-25 ;
    overflow: hidden;   
}

.mangaImg {
    height: 100%;
    width: 100%; 
}

.divTitle {
    font-size: 0.8rem;
    height: 5vh;
    width: 38vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @include textbox-small;
    overflow: hidden;   
    margin-bottom: 3%;
    padding: 2%;
}


.divLink{
    font-size: 1rem;
    height: 5vh;
    width: 38vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @include textbox-small;
    overflow: hidden;
    margin-top: 3%;
    padding: 2%;   
}
