* {
    margin: 0;
    padding: 0;
    border: 0;
}

main {

    margin-top: 8vh;
    margin-bottom: 8vh;

}

.main {
    text-align: center;
    
}

.container {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.mangaBloc {
    margin-left: 3%;
    margin-right: 3%;
}


.imgBloc {
    height: 60vh;
    width: 40vh;
    
}

.mangaImg {
    height: 100%;
    width: 100%;
    
}

.bannerBloc {

    
    height: 30vh;
    width: 100%;
    
    
}

.bannerImg {

    width: 100%;
    height: 100%;
    
}

h1 {

    text-align: right;

}