@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';
@import '../../sass/base/reset';



.sectionLog {
    font-size: 1rem;
    
    background-color:$light-gray-color;
    height: 84vh;
    width: 100%;
    margin-top: 8vh;
    margin-bottom: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formLog {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    @include texbox-dark-big;
}

.labelUser {
    @include textbox-small;
    width: 80%;
    height: 5vh;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.labelPassword {
    @include textbox-small;
    width: 80%;
    height: 5vh;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.userLog {
    text-align: center;
    border: solid $blue-color 3px;
    border-radius:  $border-radius-50 ;
    width: 70%;
    height: 70%;
    margin: auto;  
}

.passLog {
    text-align: center;
    border: solid $blue-color 3px;
    border-radius:  $border-radius-50 ;
    width: 70%;
    height: 70%;
    margin: auto;
}

.submitLog {
    @include textbox-small;
    width: 45%;
    height: 4vh;
    margin-top: 5%;  
}

.btnBloc {
    width: 70%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    @include texbox-dark-big;
    margin-top: 2%;
    padding: 2%;
}

.suscribeDiv {
    text-align: center;
    @include textbox-small;
    width: 40%;
    height: 5vh;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.userDiv {
    text-align: center;
    @include textbox-small;
    width: 40%;
    height: 5vh;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout {
    @include textbox-small;
    width: 45%;
    height: 4vh;
    margin-top: 2%;
    margin-bottom: 2%;
}

