@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';
@import '../../sass/base/reset';

.article {
    margin-top: 8vh;
    margin-bottom: 8vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $light-gray-color;
    padding: 2%;  
}

.allBloc {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    @include texbox-dark-big;
    
}
.mangaDetailBloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%; 
    padding: 3%;
    background-color: $dark-gray-color;
}

.imgBloc {
    height: 60vh;
    width: 40vh;
    border: $border-blue;
    border-radius:  $border-radius-25;
    overflow: hidden;  
}
.imgDetail {
    height: 100%;
    width: 100%;
}

.infoBloc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60vh;

    
}
.title {
    font-size: 1.5rem;
   @include textbox-small;
    padding: 2%;
    margin: 2%;
}

.ulInfo { 
    @include texbox-light-big;
    padding: 3%;
    margin: 2%;
}

.globalNote { 
    @include textbox-small;
    padding: 2%;
    margin: 2%;
}

.synopsysBloc {
    width: 83%;
    @include texbox-light-big;
    padding: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    
    
}

.reviewsBloc {
    display: flex;
    flex-direction: column;
    width: 83%;
    padding: 1%;
}

.reviewContent {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    @include textbox-small;
    padding: 2%;
    margin-top: 1%;
    text-align: left;
}

.ratingCom {
    display: inline-block;
    margin: auto;
    padding: 1%;
    }

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.noteBloc {
    text-align: center;
    width: 40%;
    height: 5vh;
    @include texbox-light-big
}

.note {
    text-align: center;
    width: 20%;
    height: 4vh;
    margin: 1%;
    border: $border-blue;
    border-radius:  $border-radius-50 ;
}

.commentBloc {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 98%;   
    @include texbox-light-big;
    margin-top: 2%;
    padding: 2%;
}

.commentArea {
    width: 80%;
    height: 7vh;
    margin: auto;
    border: $border-blue;
    border-radius:  $border-radius-25 ;
    padding: 1%;
}

.submitBtn {
    width: 50%;
    height: 5vh;
    border: $border-blue;
    border-radius:  $border-radius-50 ;
    margin-top: 2%;
}





