*{
    margin: 0;
    border: 0;
    padding: 0;
}

.sectionRegister {

    margin-top: 8vh;
    margin-bottom: 8vh;

    height: 84vh;

    background-color: #8D8D8D;

    
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    word-break: break-all;
}

.registerTitle {
    margin-bottom: 3%;
}

.formRegister {
    height: 30%;
    width: 70%;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: #666363;
    border: solid #2833C3 3px;
    border-radius:  25px 25px 25px 25px ;
}

.labelUserReg {
    
    width: 80%;
    height: 20%;

    background-color: #8D8D8D;
    border: solid #2833C3 3px;
    border-radius:  50px 50px 50px 50px ;

    display: flex;
    align-items: center;
}

.userReg {
    text-align: center;
    display: inline-block;

    border: solid #2833C3 3px;
    border-radius:  50px 50px 50px 50px ;

    width: 60%;
    height: 70%;

    margin: auto;  
}

.labelPasswordReg {

    width: 80%;
    height: 20%;

    background-color: #8D8D8D;
    border: solid #2833C3 3px;
    border-radius:  50px 50px 50px 50px ;

    display: flex;
    align-items: center;
}

.passReg {
    text-align: center;
    border: solid #2833C3 3px;
    border-radius:  50px 50px 50px 50px ;

    width: 60%;
    height: 70%;

    margin: auto;
}

.labelConfirmPass {
    
    width: 80%;
    height: 20%;

    background-color: #8D8D8D;
    border: solid #2833C3 3px;
    border-radius:  50px 50px 50px 50px ;

    display: flex;
    align-items: center;
}

.passConfirmReg {
    text-align: center;
    border: solid #2833C3 3px;
    border-radius:  50px 50px 50px 50px ;

    width: 60%;
    height: 70%;

    margin: auto;
}

.submitReg {
    
    width: 50%;
    height: 15%;

    background-color: #8D8D8D;
    border: solid #2833C3 3px;
    border-radius:  50px 50px 50px 50px ;
}
