@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';

.mainggPage {
    text-align: center;
    height: 60vh;
}

.articleBloc {
    text-align: center;
    background-color: white;
}

.deleteBtn {
    background-color: #8D8D8D;
    border: solid #2833C3 3px;
    border-radius:  50px 50px 50px 50px ;

    width: 35%;
    height: 4vh;
}

.updateBtn {
    background-color: #8D8D8D;
    border: solid #2833C3 3px;
    border-radius:  50px 50px 50px 50px ;

    width: 35%;
    height: 4vh;
}