@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';
@import '../../sass/base/reset';

.mainggPage {
    text-align: center;
    height: 81vh;
    margin: 0;
}

.articleBloc {
    text-align: center;
    background-color: $light-gray-color;
}
.mangaTitle1 {
    margin-bottom: 1%;
}

.deleteBtn {
    background-color:white;
    border: $border-blue;
    border-radius:  $border-radius-50 ;

    width: 35%;
    height: 4vh;
    margin-right: 1%;
}

.updateBtn {
    background-color:white;
    border: $border-blue;
    border-radius:  $border-radius-50 ;

    width: 35%;
    height: 4vh;
}