@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';
@import '../../sass/base/reset';

.mainManga1 {
    margin: 0;
}
.formBloc1 {
    height: 86vh;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: $light-gray-color;
    
}

.titleLab1 {
    
    height: 6vh;
    @include textbox-small;
    display: flex;
    align-items: center;
    background-color: white;
    width: 70vw;
    padding: 1%;
}
.titleIn {
    text-align: center;
    border: $border-blue;
    border-radius: $border-radius-50;
    width: 80%;
    height: 70%;
    margin: auto;
}


.authorsLab1 {
    height: 6vh;
    @include textbox-small;
    display: flex;
    align-items: center;
    background-color: white;
    width: 70vw;
    padding: 1%;
}
.authorsIn {
    text-align: center;
    border: $border-blue;
    border-radius: $border-radius-50;
    width: 80%;
    height: 70%;
    margin: auto;
}

.genresLab1 {
    height: 6vh;
    @include textbox-small;
    display: flex;
    align-items: center;
    background-color: white;
    width: 70vw;
    padding: 1%;
}

.genresIn {
    text-align: center;
    border: $border-blue;
    border-radius: $border-radius-50;
    width: 80%;
    height: 70%;
    margin: auto;
}

.synopsisLab1 {
    height: 6vh;
    @include textbox-small;
    display: flex;
    align-items: center;
    background-color: white;
    width: 70vw;
    padding: 1%;
}

.synopsisIn {
    text-align: center;
    border: $border-blue;
    border-radius: $border-radius-50;
    width: 80%;
    height: 70%;
    margin: auto;
}

.imageLab1 {
    height: 6vh;
    @include textbox-small;
    display: flex;
    align-items: center;
    background-color: white;
    width: 70vw;
    padding: 1%;
}

.imageIn {
    text-align: center;
    border: $border-blue;
    border-radius: $border-radius-50;
    width: 80%;
    height: 70%;
    margin: auto;
}