@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';
@import '../../sass/base/reset';

.formBloc {
        height: 80vh;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: $light-gray-color;
}

.titleLab {
    height: 6vh;
    @include textbox-small;
    display: flex;
    align-items: center;
    background-color: white;
    width: 70vw;
    padding: 1%;
}

.inputTitle1 {
    text-align: center;
    border: $border-blue;
    border-radius: $border-radius-50;
    width: 80%;
    height: 70%;
    margin: auto;
}

.authorsLab {
    height: 6vh;
    @include textbox-small;
    display: flex;
    align-items: center;
    background-color: white;
    width: 70vw;
    padding: 1%;
}

.inputauth1 {
    text-align: center;
    border: $border-blue;
    border-radius: $border-radius-50;
    width: 80%;
    height: 70%;
    margin: auto;
}

.genresLab {
    height: 6vh;
    @include textbox-small;
    display: flex;
    align-items: center;
    background-color: white;
    width: 70vw;
    padding: 1%;
}

.inputGen1 {
    text-align: center;
    border: $border-blue;
    border-radius: $border-radius-50;
    width: 80%;
    height: 70%;
    margin: auto;
}

.synopsisLab {
    height: 6vh;
    @include textbox-small;
    display: flex;
    align-items: center;
    background-color: white;
    width: 70vw;
    padding: 1%;
}

.inputSyn1 {
    text-align: center;
    border: $border-blue;
    border-radius: $border-radius-50;
    width: 80%;
    height: 70%;
    margin: auto;
}

.imageLab {
    height: 6vh;
    @include textbox-small;
    display: flex;
    align-items: center;
    background-color: white;
    width: 70vw;
    padding: 1%;
}

.inputFile1 {
    text-align: center;
    border: $border-blue;
    border-radius: $border-radius-50;
    width: 80%;
    height: 70%;
    margin: auto;
}




