@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';

.formBloc {
    width: 100%;
    height: 80vh;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
}

.titleLab {
    display: inline-block;

    background-color: #8D8D8D;
    border: solid #2833C3 3px;
    border-radius:  50px 50px 50px 50px ;
    
    padding: 10px;
    height: 4vh;
}

.authorsLab {
    display: inline-block;

    background-color: #8D8D8D;
    border: solid #2833C3 3px;
    border-radius:  50px 50px 50px 50px ;

    height: 4vh;
}

.genresLab {
    display: inline-block;

    background-color: #8D8D8D;
    border: solid #2833C3 3px;
    border-radius:  50px 50px 50px 50px ;

    height: 4vh;
}

.synopsisLab {
    display: inline-block;

    background-color: #8D8D8D;
    border: solid #2833C3 3px;
    border-radius:  50px 50px 50px 50px ;

    height: 4vh;
}

.imageLab {
    display: inline-block;

    background-color: #8D8D8D;
    border: solid #2833C3 3px;
    border-radius:  50px 50px 50px 50px ;

    height: 4vh;
}